         body {
            font-family: sans-serif;
            text-align: center;
        }

        @font-face {
            font-family: 'Gotham Light';
            src: url('../fonts/GothamLight.ttf') format('truetype');
        }

        * {
            margin: 0;
            padding: 0;
        }

        h1 {
            font-size: 24px;
            margin: 40px 0;
        }

        .btn {
            display: inline-block;
            background-color: #1DB954; /* Green color */
            color: #fff; /* White text color */
            padding: 15px 30px;
            border-radius: 50px; /* Rounded button */
            font-size: 18px;
            text-decoration: none;
            transition: background-color 0.3s;
        }

        .btn:hover {
            background-color: #25D366; /* Lighter green color on hover */
        }
        .imgbox {
            display: grid;
            height: 100%;
        }
        .center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }
        .center-fit-small {
            padding-bottom: 100px;
            max-width: 15%;
            max-height: 15vh;
            margin: auto;
        }

        .left-fit-small {
            padding: 20 0 0 75px; /* Adjust as needed */
            max-width: 13%; /* Adjust as needed */
            max-height: 13vh; /* Adjust as needed */
            float: left; /* Anchors the image to the left */
        }

        p.ex1 {
            padding-right: 60%;
            padding-top: 300px;
            padding-bottom: 50px;
        }

        p.ex3 {
            padding-right: 60%;
            padding-top: 50px;
            padding-bottom: 50px;
        }


        h1.ex2{
            font: sans-serif;
            padding-top: 100px;
        }

        .ex1 {
            text-align: left;
            padding-left: 50px; /* Adjust as needed */
            font-family: 'Gotham Light', Arial, sans-serif; /* Gotham Light is now your preferred font */
            font-size: 15px
        }

        .ex3 {
            text-align: left;
            padding-left: 50px; /* Adjust as needed */
            font-family: 'Gotham Light', Arial, sans-serif; /* Gotham Light is now your preferred font */
            font-size: 15px
        }