<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Playlist Decades</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Press the below button to see what decades the tracks in your playlists are in</h1>
    <a href="/get_user_auth" class="btn">Discover</a>
    <p class="ex1">To Disconnect from this app, click the following link and remove access from the app 'Playlist in Decades'</p>
    <a href="https://www.spotify.com/account/apps/">DISCONNECT</a>
</body>
</html>